# Customer Shopping Behavior Analysis

This notebook analyzes customer shopping patterns and behaviors using a retail dataset. We'll perform data cleaning, feature engineering, and prepare the data for further analysis.

## 1. Data Loading and Initial Setup
We'll start by importing necessary libraries and loading our dataset. The data contains customer purchase information including demographics, purchase history, and shopping preferences.

In [ ]:
import pandas as pd
import numpy as np

# If the file is a CSV (fixes the unicode escape by using a raw string)
df = pd.read_csv(r"data\customer_shopping_behavior.csv")
df.head()

FileNotFoundError: [Errno 2] No such file or directory: '/content/customer_shopping_behavior.csv'

## 2. Data Exploration and Quality Check

Understanding our dataset's structure and content:
- `df.info()`: Shows data types and null values
- `df.describe()`: Provides statistical summary
- `df.describe(include='int')`: Focuses on integer columns
This helps identify potential data quality issues and guides our cleaning strategy.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [ ]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [ ]:
df.describe(include='int')

       Customer ID          Age  Purchase Amount (USD)  Previous Purchases
count  3900.000000  3900.000000            3900.000000         3900.000000
mean   1950.500000    44.068462              59.764359           25.351538
std    1125.977353    15.207589              23.685392           14.447125
min       1.000000    18.000000              20.000000            1.000000
25%     975.750000    31.000000              39.000000           13.000000
50%    1950.500000    44.000000              60.000000           25.000000
75%    2925.250000    57.000000              81.000000           38.000000
max    3900.000000    70.000000             100.000000           50.000000

In [ ]:
df.describe(include='all')

,customer_id,age,gender,item_purchased,category,purchase_amount_usd,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_frequency_in_days
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900.000000
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,NaN,6,7,5,NaN
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,NaN,PayPal,Every 3 Months,Middle-Aged,NaN
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,NaN,677,584,1142,NaN
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750036,NaN,NaN,NaN,25.351538,NaN,NaN,NaN,89.133077
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.713578,NaN,NaN,NaN,14.447125,NaN,NaN,NaN,119.037566
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,7.000000
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,13.000000,NaN,NaN,NaN,14.000000
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.769976,NaN,NaN,NaN,25.000000,NaN,NaN,NaN,30.000000
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,38.000000,NaN,NaN,NaN,90.000000
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,50.000000,NaN,NaN,NaN,365.000000

## 3. Missing Value Analysis and Treatment

First, we'll identify any missing values in our dataset:
1. Check for null values in each column
2. Handle missing review ratings by using category means
3. Verify that all missing values are properly handled

This ensures data completeness and maintains statistical validity.

In [ ]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [ ]:
df['Review Rating']=df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.mean()))

In [ ]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

## 4. Data Standardization

Standardize column names for consistency and ease of use:
- Convert to lowercase
- Replace spaces with underscores
- Remove special characters
- Follow Python naming conventions

This makes the data easier to work with and maintains code readability.

In [ ]:
df.columns

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Shipping Type',
       'Discount Applied', 'Promo Code Used', 'Previous Purchases',
       'Payment Method', 'Frequency of Purchases'],
      dtype='object')

In [ ]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')
df.columns = df.columns.str.replace('(', '')
df.columns = df.columns.str.replace(')', '')

In [ ]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_usd', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

## 5. Feature Engineering: Customer Segmentation

Create age-based customer segments for better analysis:
- Teen (18-20)
- Young Adult (20-30)
- Adult (30-45)
- Middle-Aged (45-60)
- Senior (60-100)

This segmentation enables:
- Targeted marketing strategies
- Age-specific analysis
- Customer behavior patterns by age group

In [ ]:
#Create new column age_group

bins = [18, 20, 30, 45, 60, 100]
groups =['Teen', 'Young Adult','Adult','Middle-Aged','Senior']

df['age_group'] = pd.cut(df['age'], bins=bins, labels=groups, right=False)

In [ ]:
df.head(100)

,customer_id,age,gender,item_purchased,category,purchase_amount_usd,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases,age_group
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.100000,Yes,Express,Yes,Yes,14,Venmo,Fortnightly,Middle-Aged
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.100000,Yes,Express,Yes,Yes,2,Cash,Fortnightly,Teen
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.100000,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly,Middle-Aged
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.500000,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly,Young Adult
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.700000,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually,Middle-Aged
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,37,Male,Sneakers,Footwear,100,Missouri,L,Pink,Fall,3.800000,Yes,Free Shipping,Yes,Yes,48,PayPal,Monthly,Adult
96,97,32,Male,Gloves,Accessories,73,Delaware,S,Gold,Spring,3.769976,Yes,Express,Yes,Yes,43,Venmo,Every 3 Months,Adult
97,98,21,Male,Shoes,Footwear,92,Virginia,M,Teal,Winter,4.800000,Yes,Store Pickup,Yes,Yes,37,Cash,Annually,Young Adult
98,99,20,Male,Jeans,Clothing,67,New York,XL,Teal,Spring,2.600000,Yes,Next Day Air,Yes,Yes,20,Bank Transfer,Annually,Young Adult
99,100,26,Male,Hoodie,Clothing,40,Missouri,XL,Indigo,Summer,3.700000,Yes,Express,Yes,Yes,33,Debit Card,Quarterly,Young Adult

In [ ]:
df[['age','age_group']].head(100)

    age    age_group
0    55  Middle-Aged
1    19         Teen
2    50  Middle-Aged
3    21  Young Adult
4    45  Middle-Aged
..  ...          ...
95   37        Adult
96   32        Adult
97   21  Young Adult
98   20  Young Adult
99   26  Young Adult

[100 rows x 2 columns]

In [ ]:
df['age_group'].unique()

['Middle-Aged', 'Teen', 'Young Adult', 'Senior', 'Adult']
Categories (5, object): ['Teen' < 'Young Adult' < 'Adult' < 'Middle-Aged' < 'Senior']

## 6. Purchase Frequency Standardization

Convert text-based purchase frequencies to numerical days for analysis:
- Weekly  7 days
- Bi-Weekly/Fortnightly  14 days
- Monthly  30 days
- Quarterly  90 days
- Annually  365 days

Benefits:
- Consistent time-based analysis
- Easier comparison of purchase patterns
- Better customer behavior insights

In [ ]:
df['frequency_of_purchases'].unique()

array(['Fortnightly', 'Weekly', 'Annually', 'Quarterly', 'Bi-Weekly',
       'Monthly', 'Every 3 Months'], dtype=object)

In [ ]:
#create column purchase_frequency_in_days

frequency_mapping={'Fortnightly':14,'Weekly':7,'Monthly':30,'Bi-Weekly':14,'Annually':365,'Quarterly':90,'Every 3 Months':90}

df['purchase_frequency_in_days'] = df['frequency_of_purchases'].map(frequency_mapping)
#

In [ ]:
df['purchase_frequency_in_days'].unique()

array([ 14,   7, 365,  90,  30])

In [ ]:
df.head(100)

,customer_id,age,gender,item_purchased,category,purchase_amount_usd,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_frequency_in_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.100000,Yes,Express,Yes,Yes,14,Venmo,Fortnightly,Middle-Aged,14
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.100000,Yes,Express,Yes,Yes,2,Cash,Fortnightly,Teen,14
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.100000,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly,Middle-Aged,7
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.500000,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly,Young Adult,7
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.700000,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually,Middle-Aged,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,37,Male,Sneakers,Footwear,100,Missouri,L,Pink,Fall,3.800000,Yes,Free Shipping,Yes,Yes,48,PayPal,Monthly,Adult,30
96,97,32,Male,Gloves,Accessories,73,Delaware,S,Gold,Spring,3.769976,Yes,Express,Yes,Yes,43,Venmo,Every 3 Months,Adult,90
97,98,21,Male,Shoes,Footwear,92,Virginia,M,Teal,Winter,4.800000,Yes,Store Pickup,Yes,Yes,37,Cash,Annually,Young Adult,365
98,99,20,Male,Jeans,Clothing,67,New York,XL,Teal,Spring,2.600000,Yes,Next Day Air,Yes,Yes,20,Bank Transfer,Annually,Young Adult,365
99,100,26,Male,Hoodie,Clothing,40,Missouri,XL,Indigo,Summer,3.700000,Yes,Express,Yes,Yes,33,Debit Card,Quarterly,Young Adult,90

In [ ]:
df[['frequency_of_purchases','purchase_frequency_in_days']].head(50)

   frequency_of_purchases  purchase_frequency_in_days
0             Fortnightly                          14
1             Fortnightly                          14
2                  Weekly                           7
3                  Weekly                           7
4                Annually                         365
5                  Weekly                           7
6               Quarterly                          90
7                  Weekly                           7
8                Annually                         365
9               Quarterly                          90
10              Bi-Weekly                          14
11            Fortnightly                          14
12            Fortnightly                          14
13                 Weekly                           7
14                 Weekly                           7
15                Monthly                          30
16              Bi-Weekly                          14
17              Quarterly                          90
18                 Weekly                           7
19              Bi-Weekly                          14
20         Every 3 Months                          90
21              Quarterly                          90
22               Annually                         365
23                 Weekly                           7
24                 Weekly                           7
25               Annually                         365
26               Annually                         365
27         Every 3 Months                          90
28         Every 3 Months                          90
29                 Weekly                           7
30                Monthly                          30
31                Monthly                          30
32               Annually                         365
33              Quarterly                          90
34              Quarterly                          90
35              Bi-Weekly                          14
36            Fortnightly                          14
37                 Weekly                           7
38         Every 3 Months                          90
39                Monthly                          30
40              Quarterly                          90
41               Annually                         365
42               Annually                         365
43            Fortnightly                          14
44                 Weekly                           7
45               Annually                         365
46              Quarterly                          90
47                 Weekly                           7
48                Monthly                          30
49              Bi-Weekly                          14

In [ ]:
df[['discount_applied','promo_code_used']].head(100)

   discount_applied promo_code_used
0               Yes             Yes
1               Yes             Yes
2               Yes             Yes
3               Yes             Yes
4               Yes             Yes
..              ...             ...
95              Yes             Yes
96              Yes             Yes
97              Yes             Yes
98              Yes             Yes
99              Yes             Yes

[100 rows x 2 columns]

In [ ]:
(df['discount_applied'] == df['promo_code_used']).all()

np.True_

In [ ]:
df=df.drop('promo_code_used',axis=1)

In [ ]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount_usd', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_in_days'],
      dtype='object')

In [ ]:
!pip install --upgrade pip
!pip install sqlalchemy pandas
!pip install "cloud-sql-python-connector[pg8000]" pg8000

Requirement already satisfied: pip in /usr/local/lib/python3.12/dist-packages (24.1.2)
Collecting pip
  Downloading pip-25.3-py3-none-any.whl.metadata (4.7 kB)
Downloading pip-25.3-py3-none-any.whl (1.8 MB)
    1.8/1.8 MB 15.8 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 24.1.2
    Uninstalling pip-24.1.2:
      Successfully uninstalled pip-24.1.2
Successfully installed pip-25.3
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (2.0.44)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Collecting pg8000
  Downloading pg8000-1.31.5-py3-none-any.whl.metadata (88 kB)
Collecting cloud-sql-python-connector[pg8000]
  Downloading cloud_sql_python_connector-1.18.5-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: aiofiles in /usr/local/lib/python3.12/dist-packages (from cloud-sql-python-connector[pg8000]) (24.1.0)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.12/dist-packages (from cloud-sql-python-connector[pg8000]) (3.13.1)
Requirement already satisfied: cryptography>=42.0.0 in /usr/local/lib/python3.12/dist-packages (from cloud-sql-python-connector[pg8000]) (43.0.3)
Collecting dnspython>=2.0.0 (from cloud-sql-python-connector[pg8000])
  Downloading dnspython-2.8.0-py3-none-any.whl.metadata (5.7 kB)
Requirement already satisfied: Requests in /usr/local/lib/python3.12/dist-packages (from cloud-sql-python-connector[pg8000]) (2.32.4)
Requirement already satisfied: google-auth>=2.28.0 in /usr/local/lib/python3.12/dist-packages (from cloud-sql-python-connector[pg8000]) (2.38.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pg8000) (2.9.0.post0)
Collecting scramp>=1.4.5 (from pg8000)
  Downloading scramp-1.4.6-py3-none-any.whl.metadata (19 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.12/dist-packages (from cryptography>=42.0.0->cloud-sql-python-connector[pg8000]) (2.0.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.12/dist-packages (from cffi>=1.12->cryptography>=42.0.0->cloud-sql-python-connector[pg8000]) (2.23)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from google-auth>=2.28.0->cloud-sql-python-connector[pg8000]) (5.5.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.12/dist-packages (from google-auth>=2.28.0->cloud-sql-python-connector[pg8000]) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.12/dist-packages (from google-auth>=2.28.0->cloud-sql-python-connector[pg8000]) (4.9.1)
Requirement already satisfied: pyasn1>=0.1.3 in /usr/local/lib/python3.12/dist-packages (from rsa<5,>=3.1.4->google-auth>=2.28.0->cloud-sql-python-connector[pg8000]) (0.6.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pg8000) (1.17.0)
Collecting asn1crypto>=1.5.1 (from scramp>=1.4.5->pg8000)
  Downloading asn1crypto-1.5.1-py2.py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: aiohappyeyeballs>=2.5.0 in /usr/local/lib/python3.12/dist-packages (from aiohttp->cloud-sql-python-connector[pg8000]) (2.6.1)
Requirement already satisfied: aiosignal>=1.4.0 in /usr/local/lib/python3.12/dist-packages (from aiohttp->cloud-sql-python-connector[pg8000]) (1.4.0)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.12/dist-packages (from aiohttp->cloud-sql-python-connector[pg8000]) (25.4.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.12/dist-packages (from aiohttp->cloud-sql-python-connector[pg8000]) (1.8.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.12/dist-packages (from aiohttp->cloud-sql-python-connector[pg8000]) (6.7.0)
Requirement already satisfied: propcache>=0.2.0 in /usr/local/lib/python3.12/dist-packages (from aiohttp->cloud-sql-python-connector[pg8000]) (0.4.1)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /usr/local/lib/python3.12/dist-packages (from aiohttp->cloud-sql-python-connector[pg8000]) (1.22.0)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.12/dist-packages (from yarl<2.0,>=1.17.0->aiohttp->cloud-sql-python-connector[pg8000]) (3.11)
Requirement already satisfied: typing-extensions>=4.2 in /usr/local/lib/python3.12/dist-packages (from aiosignal>=1.4.0->aiohttp->cloud-sql-python-connector[pg8000]) (4.15.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from Requests->cloud-sql-python-connector[pg8000]) (3.4.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from Requests->cloud-sql-python-connector[pg8000]) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from Requests->cloud-sql-python-connector[pg8000]) (2025.10.5)
Downloading cloud_sql_python_connector-1.18.5-py3-none-any.whl (49 kB)
Downloading pg8000-1.31.5-py3-none-any.whl (57 kB)
Downloading dnspython-2.8.0-py3-none-any.whl (331 kB)
Downloading scramp-1.4.6-py3-none-any.whl (12 kB)
Downloading asn1crypto-1.5.1-py2.py3-none-any.whl (105 kB)
Installing collected packages: asn1crypto, scramp, dnspython, pg8000, cloud-sql-python-connector
    5/5 [cloud-sql-python-connector]
Successfully installed asn1crypto-1.5.1 cloud-sql-python-connector-1.18.5 dnspython-2.8.0 pg8000-1.31.5 scramp-1.4.6

## 7. Database Integration Setup

Prepare for data persistence in PostgreSQL:
1. Install required dependencies
2. Set up database connection
3. Configure SQLAlchemy engine
4. Load processed data into database

This enables:
- Permanent storage of processed data
- SQL-based analysis capabilities
- Data sharing across applications
- Integration with other systems

In [ ]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

# Step 1: Connect to PostgreSQL
# Replace placeholders with your actual details
username = "postgres"      # default user
password = "Myuser@1234" # the password you set during installation (may contain special chars like @)
host = "localhost"         # if running locally
port = "5432"              # default PostgreSQL port
database = "customerdata"    # the database you created in pgAdmin

# URL-encode username/password to avoid breaking the connection URL when they contain special characters
password_enc = quote_plus(password)

engine = create_engine(f"postgresql+psycopg2://{username}:{password_enc}@{host}:{port}/{database}")

# Step 2: Load DataFrame into PostgreSQL
table_name = "customer_purchases"   # choose any table name
df.to_sql(table_name, engine, if_exists="replace", index=False)

print(f"Data successfully loaded into table '{table_name}' in database '{database}'.")

OperationalError: (psycopg2.OperationalError) connection to server at "localhost" (::1), port 5432 failed: Connection refused
	Is the server running on that host and accepting TCP/IP connections?
connection to server at "localhost" (127.0.0.1), port 5432 failed: Connection refused
	Is the server running on that host and accepting TCP/IP connections?

(Background on this error at: https://sqlalche.me/e/20/e3q8)